@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    margin: 0px;
    background-color: beige;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    background: lightseagreen;
    margin-bottom: 30px;
    padding: 2px;
  }
  
  .sidebar {
          grid-area: sidebar;
      }
  
      .sidebar2 {
          grid-area: sidebar2;
      }
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: beige;
          color: #444;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "sidebar"
       "content"
       "sidebar2"
       "footer"
    }
  
      @media only screen and (min-width: 500px)  {
      .wrapper {
  
          grid-template-columns: 20% auto;
          grid-template-areas:
      "header   header"
          "sidebar  content"
          "sidebar2 sidebar2"
          "footer   footer";
      }
      
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
        grid-gap: 20px;
              grid-template-columns: 120px auto 120px;
              grid-template-areas:
        "header  header  header"
              "sidebar content sidebar2"
              "footer  footer  footer";
              max-width: 80vw;
              margin: 0 auto;
          }
          nav {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-gap: 1em;
         }
      }
  
  .box {
    background-color: lightblue;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
    text-align: center;
  }
  
  .header,
  .footer {
      text-align: center;
    background-color: lightsalmon;
    transform-style: preserve-3d;
    transition: transform 0.9s;
    perspective: 1000px;
  }

  .header:hover, .footer:hover{
      transform: rotateY(180deg);
  }
  
  .sidebar2 {
    background-color: lightblue;
    color: #FFF;
  }

  .1 {
    grid-column: 1;
  }
  
  .2 {
    grid-column: 2;
  }
  
  .3 {
    grid-column: 4;
  }
  
  .4 {
    grid-column: 5;
  }
  
  .navLinks {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  .navLinks:hover {
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
  }