img:hover{
    transform: scale(1.1);
    transition: transform 1s;
}
.box{
    color: lightgoldenrodyellow !important;
    font-size: 1.3em !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}